h1 {
    color: var(--color-header-text);
    background-color: var(--color-header-background);
    font-family: "Outfit", sans-serif;

  }

h2 a {
    color: var(--color-larger-text);
    font-family: "Lato", sans-serif;
}

h2 {
    color: var(--color-smaller-text);
    font-family: "Outfit", sans-serif;

}

h3, p, ul{
    color: var(--color-smaller-text);
    font-family: "Lato", sans-serif;

}

body{
    background-color: var(--color-background-page)
}

p a {
    color: var(--color-larger-text);
    font-family: "Lato", sans-serif;
}

ul li a {
    color: var(--color-larger-text);
}

svg.icon {
    display: inline;
    height: 1.7em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
  }
  

